/* ======= MAP ======= */

$months:
  january
  february
  march
  april
  may
  june
  july
  august
  september
  october
  november
  december;

$regions:
  en-central
  es-central
  mid-atlantic
  mountain
  new-england
  pacific
  south-atlantic
  wn-central
  ws-central;

#uri-tick-map-wrapper {

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "map species"
    "timeline timeline";

  @each $r in $regions {

    &[data-active-region=#{$r}]  {

      .instruction {
        display: none;
      }

      #uri-tick-map #map-region-#{$r} path {
        fill: #FF615D;
      }

      @each $m in $months {

        &[data-active-month=#{$m}] {
          #species-region-#{$r} .activity-#{$m} {
            display: block;
          }
        }

      }

    }

  }

  .map-container {
    grid-area: map;
    background: #fff;
    padding: 1rem;
  }

  .species-container {

    grid-area: species;
    background: #eee;
    padding: 1rem;
    font-size: .9rem;

    .species-region ul {
      display: none;
    }

  }

  .time-slider {

    grid-area: timeline;
    background: #ddd;
    padding: 1rem;

    #uri-tick-map-timeframe {
      display: block;
      width: 93%;
      margin: 0 auto .5rem;
    }

    .time-slider-labels {
      display: grid;
      grid-template-columns: repeat( 12, 1fr );
      text-align: center;
      font-size: .9rem;
    }

  }

}

#uri-tick-map {

  path {
    stroke: #fff;
    stroke-width: 0.5px;
    fill: #ddd;
    transition: fill .1s ease-in-out;
  }

  .region-group {
    g:hover path,
    g:focus path {
      fill: #999;
      cursor: pointer;
    }
  }

}
