/* ======= MAP ======= */

$months:
  january
  february
  march
  april
  may
  june
  july
  august
  september
  october
  november
  december;

$regions:
  en-central
  es-central
  mid-atlantic
  mountain
  new-england
  pacific
  south-atlantic
  wn-central
  ws-central;

#uri-tick-map-wrapper {

  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: max-content;
  grid-column-gap: 2rem;
  grid-template-areas:
    "map species"
    "timeline species";

  @each $r in $regions {

    &[data-active-region=#{$r}]  {

      .instruction-label {
        display: none;
      }

      #uri-tick-map #map-region-#{$r} path {
        fill: #FF615D;
      }

      @each $m in $months {

        &[data-active-month=#{$m}] {
          #species-region-#{$r},
          #species-region-#{$r} .activity-#{$m} {
            display: block;
          }
        }

      }

    }

  }

  @each $m in $months {
    &[data-active-month=#{$m}] .time-slider-label[data-label-name=#{$m}] {
      color: #FF615D;
      font-weight: 700;
    }
  }

  .map-container {
    grid-area: map;
  }

  .species-container {

    grid-area: species;
    padding: 1rem;
    background: #eee;
    border-radius: .2rem;

    h2 {
      margin: 0 0 1rem;
      padding: 0 0 .5rem;
      border-bottom: 1px solid #ddd;
    }

    h3 {
      font-size: 1rem;
      margin: 0 0 .4rem;
      float: left;
    }

    h4 {

      margin: 0 0 1.1rem;
      font-size: 1rem;
      float: right;
      font-weight: 400;

      &:after {
        content: '';
        display: block;
        clear: both;
      }

    }

    .species-list {
      height: 400px;
      overflow-y: scroll;
    }

    .results-label {

      font-family: "Hind", "Lato", "Arial", sans-serif;
      font-size: 1rem;
      color: #333;
      line-height: 1.5rem;

      p {
        line-height: 1.5rem;
      }

    }

    .species-region {

      display: none;

      ul {

        list-style: none;
        padding: 0;
        margin: 0;
        clear: both;

        li {
          margin-bottom: .5rem;
        }

        a {
          display: flex;
          width: 100%;
          box-sizing: border-box;
          overflow: hidden;
          background: #fafafa;
          border-radius: 4px;
          box-shadow:
            0 .1rem .1rem rgba(0,0,0,.1),
            0 .1rem .2rem rgba(0,0,0,.1);
          transition: box-shadow .2s ease-in-out;
        }

        a:hover {
          box-shadow: 0 .2rem .5rem rgba(0,0,0,.2);
        }

        a.inactive {
          opacity: .5;
          filter: saturate(0);
        }

      }

      .activity-container {
        display: none;
      }

    }

    .species-meta {
      width: 75%;
      padding: .5rem;
      font-size: .8rem;
      font-family: "Hind", "Lato", "Arial", sans-serif;
      color: #000;
    }

    .species-category {
      font-weight: 700;
    }

    .species-tag {
      color: #555;
    }

    .species-image {

      width: 25%;
      background: #fff;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

    }

  }

  .time-slider {

    grid-area: timeline;
    padding: 1rem 1rem .2rem;

    #uri-tick-map-timeframe {

      display: block;
      width: 94%;
      margin: 0 auto 1rem;
      -webkit-appearance: none;
      height: 1px;
      //border-radius: 5px;
      background: #ddd;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #FF615D;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
      }

    }

    .time-slider-labels {

      display: grid;
      grid-template-columns: repeat( 12, 1fr );
      text-align: center;
      font-size: .9rem;
      font-family: "Hind", "Lato", "Arial", sans-serif;
      color: #555;

      .time-slider-label:hover {
        cursor: pointer;
        color: #FF615D;
        font-weight: 700;
      }

    }

  }

}

#uri-tick-map {

  path {
    stroke: #fff;
    stroke-width: 0.5px;
    fill: #ddd;
    transition: fill .1s ease-in-out;
  }

  .region-group {
    g:hover path,
    g:focus path {
      fill: #999;
      cursor: pointer;
    }
  }

}
